@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5; }

html {
  font-size: 10px;
  height: 100vh; }
  @media screen and (max-width: 1366px) {
    html {
      font-size: 9px; } }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 2rem 4rem;
  background-color: #FFFCF6; }
  @media screen and (max-width: 768px) {
    body {
      padding: 1rem 2rem; } }
  @media screen and (max-width: 425px) {
    body {
      padding: .5rem 1.5rem; } }

body.hidden {
  overflow: hidden; }

body > div.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0vw;
  top: 0vh;
  transform: translateX(-9999px);
  background-color: #FFFCF6;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 0;
  transition-property: translateX, opacity;
  transition: 1s ease-in-out; }
  body > div.overlay p:nth-child(2) {
    margin-bottom: 2rem; }
  body > div.overlay.show {
    transform: translateX(0);
    opacity: 1; }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #5383B5;
  margin: 50px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.header--heading {
  font-size: 3.6rem;
  color: rgba(18, 18, 18, 0.9); }
  @media screen and (max-width: 1280px) {
    .header--heading {
      font-size: 3rem; } }
  @media screen and (max-width: 425px) {
    .header--heading {
      font-size: 2.4rem; } }

.chart {
  width: 100%;
  height: calc(100% - 9rem);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "sp sp sp sp sp sp r r r" "sp sp sp sp sp sp r r r" "sp sp sp sp sp sp r r r" "d b b b b b b b f"; }
  @media screen and (max-width: 1024px) {
    .chart {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 85% 30% 30% 20%;
      grid-template-areas: "sp sp" "r r" "b b" "d f"; } }
  @media screen and (max-width: 768px) {
    .chart {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 85% 125% 125% 20%; } }
  @media screen and (max-width: 425px) {
    .chart {
      grid-template-rows: 100% 90% 90% 20%; } }
  .chart--scatterplot {
    grid-area: sp; }
  .chart--right {
    grid-area: r;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
    .chart--right > div:nth-of-type(2) {
      margin-bottom: 1rem; }
    @media screen and (max-width: 1024px) {
      .chart--right {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-top: 1.5rem; }
        .chart--right > div:nth-of-type(2) {
          margin-bottom: 0; } }
    @media screen and (max-width: 768px) {
      .chart--right {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 25% 25%;
        margin-top: 2.5rem; } }
    @media screen and (max-width: 725px) {
      .chart--right {
        grid-template-rows: 30% 35% 35%; } }
  .chart--bottom {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    margin-top: 1.5rem; }
    .chart--bottom__text {
      grid-column: 1 / 2;
      display: inline-block;
      font-size: 1.5rem;
      text-align: justify; }
      @media screen and (max-width: 1280px) {
        .chart--bottom__text {
          font-size: 1.2rem; } }
      @media screen and (max-width: 768px) {
        .chart--bottom__text {
          text-align: center;
          font-size: 1.4rem;
          max-width: 60%;
          justify-self: center; } }
      @media screen and (max-width: 375px) {
        .chart--bottom__text {
          max-width: 90%; } }
    .chart--bottom__ps, .chart--bottom__cor, .chart--bottom__fr {
      height: 100%; }
    .chart--bottom__ps {
      grid-column: 2 / 4; }
    .chart--bottom__cor {
      grid-column: 4 / 6; }
    .chart--bottom__fr {
      grid-column: 6 / -1; }
    @media screen and (max-width: 768px) {
      .chart--bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 30% 30%;
        margin-top: 2.5rem; }
        .chart--bottom__ps, .chart--bottom__cor, .chart--bottom__fr {
          grid-column: unset; } }

.tooltip {
  position: absolute;
  left: -9999px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  pointer-events: none;
  background-color: #FAFAFA;
  z-index: 2; }
  .tooltip--heading {
    padding: 1rem .75rem; }
    @media screen and (max-width: 375px) {
      .tooltip--heading {
        padding: 0.5rem 0.25rem; } }
  .tooltip--hdi, .tooltip--gov, .tooltip--info {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .tooltip--hdi p, .tooltip--gov p, .tooltip--info p {
      font-size: 1.4rem; }
      @media screen and (max-width: 1280px) {
        .tooltip--hdi p, .tooltip--gov p, .tooltip--info p {
          font-size: 1.1rem; } }
      @media screen and (max-width: 425px) {
        .tooltip--hdi p, .tooltip--gov p, .tooltip--info p {
          font-size: .9rem; } }
    .tooltip--hdi p:nth-of-type(1), .tooltip--gov p:nth-of-type(1), .tooltip--info p:nth-of-type(1) {
      background-color: #121212;
      color: #FAFAFA;
      text-transform: uppercase; }
  .tooltip--hdi p, .tooltip--gov p {
    padding: .75rem; }
    @media screen and (max-width: 375px) {
      .tooltip--hdi p, .tooltip--gov p {
        padding: 0.25rem; } }
  .tooltip--hdi__score, .tooltip--gov__score {
    font-weight: 700; }
  .tooltip--info {
    font-size: 1.4rem; }
    .tooltip--info p {
      padding: 1rem; }
      @media screen and (max-width: 375px) {
        .tooltip--info p {
          padding: 0.5rem; } }
    @media screen and (max-width: 1280px) {
      .tooltip--info {
        font-size: 1.1rem; } }
    @media screen and (max-width: 425px) {
      .tooltip--info {
        font-size: .9rem; } }

#scatterPlot .tooltip {
  width: 22.5rem; }
  @media screen and (max-width: 768px) {
    #scatterPlot .tooltip {
      width: 17rem; } }
  @media screen and (max-width: 425px) {
    #scatterPlot .tooltip {
      width: 15rem; } }

#map {
  display: flex;
  align-items: center;
  justify-content: center; }
  #map .tooltip {
    width: 16rem; }
    #map .tooltip--info p:nth-of-type(2) {
      padding: .5rem; }
    @media screen and (max-width: 768px) {
      #map .tooltip {
        width: 13rem; } }
    @media screen and (max-width: 425px) {
      #map .tooltip {
        width: 11rem; } }

.footer,
.data {
  display: flex;
  align-items: center; }

.footer {
  grid-area: f; }
  .footer--text {
    font-size: 1.4rem;
    text-align: justify; }
    .footer--text a {
      text-decoration: none;
      color: #121212;
      font-weight: 700; }
      .footer--text a span {
        display: inline-block;
        transition: all .25s; }
      .footer--text a:hover span {
        transform: translateX(0.25rem); }
    @media screen and (max-width: 1280px) {
      .footer--text {
        font-size: 1.2rem; } }
  @media screen and (max-width: 1024px) {
    .footer {
      margin-left: 1rem; } }

.data {
  grid-area: d;
  margin-right: 2rem;
  opacity: .75; }
  .data--text {
    font-size: 1rem;
    text-align: left; }
    .data--text span {
      font-weight: bold;
      color: #E84E4E;
      display: block; }
    @media screen and (max-width: 768px) {
      .data--text {
        font-size: 1.2rem; } }
  @media screen and (max-width: 1024px) {
    .data {
      margin-right: 1rem; } }
